<!DOCTYPE html>
<html lang="pt-br">
<link href="/css/style.css" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/static.js/funcoes.js}"></script>

<head>
    <header><a href="medicamentos">Home</a><a href="login">Login</a><a href="usuarios">Cadastro</a></header>
    <title>Farmácias</title>
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="funcoes.js"></script>

    <img src="https://i.ibb.co/YywLC81/msd-1.png" height=130px width=130px></img>
    <h1>My Simple Doctor</h1>
    <p>
        <br>Aqui você pode encontrar as farmácias mais próximas de você!</p>

    <div class="buscapharmacy">

        <div class="city">
            <input type="text" id="txtBusca" placeholder="Insira sua cidade" />
        </div>

        <div class="state">
            <select name="state" id="state" placeholder="Estado">
                <option value="acre">AC</option>
                <option value="alagoas">AL</option>
                <option value="amapa">AP</option>
                <option value="amazonas">AM</option>
                <option value="bahia">BA</option>
                <option value="ceara">CE</option>
                <option value="espiritos">ES</option>
                <option value="goias">GO</option>
                <option value="maranhao">MA</option>
                <option value="matog">MT</option>
                <option value="matos">MS</option>
                <option value="minas">MG</option>
                <option value="para">PA</option>
                <option value="paraiba">PB</option>
                <option value="parana">PR</option>
                <option value="pernamb">PE</option>
                <option value="piaui">PI</option>
                <option value="rio">RJ</option>
                <option value="rion">RN</option>
                <option value="rios">RS</option>
                <option value="rond">RO</option>
                <option value="rora">RR</option>
                <option value="santac">SC</option>
                <option value="saop">SP</option>
                <option value="serg">SE</option>
                <option value="toca">TO</option>
                <option value="distritof">DF</option>


            </select>
        </div>

        <button id="search" href="javascript:void(0)" onclick="Buscarf()">Buscar</button>

    </div>

</head>

<body>
    <div class="menu">
        <div>
            <h2>Menu</h2>
            <a href="localhost:8080/medicamentos">Fitoterápicos</a><br>
            <a href="localhost:8080/medicamentos">Homeopáticos</a><br>
            <a href="farmacias">Farmácias</a><br>
            <a href="#">Médicos</a>
        </div>
    </div>
    <section>
        <article class="farmacias_info">
            <br>
            <tr th:each="farmacias: ${farmacias}">
                <br>
                <a>ID Farmacia: </a>
                <td th:text=${farmacias.idfarm}></td><br>
                <br>
                <a>Descrição da farmacia: </a>
                <td th:text=${farmacias.descricao}></td><br>
                <br>
                <a>Estado: </a>
                <td th:text=${farmacias.estado}></td><br>
                <br>
                <a>Localizacao: </a>
                <td th:text=${farmacias.localizacao}></td><br><br>
            </tr>
        </article>
    </section>

    <footer>

        Nosso site é um projeto sem fins lucrativos que visa indicar um tratamento positivo dos sintomas de acordo com as avaliações, porém não substitui a opinião médica.
        <br>Não nos responsabilizamos por nenhum efeito colateral. Se os sintomas persistirem, procure um médico. Desenvolvedores do site: Emanuela Lopez e Joel Ribeiro
    </footer>


</body>



</html>