<!DOCTYPE html>
<html lang="pt-br">
<link href="css/style.css" rel="stylesheet">
<script type="text/javascript" th:src="@{/static.js/funcoes.js}"></script>

<head>
    <header><a href="index.html">Home</a><a href="login.html">Login</a><a href="cadastro.html">Cadastro</a></header>
    <title>My Simple Doctor</title>
    <meta charset="utf-8">
    <script src="funcoes.js"></script>

    <img class="logo" src="https://i.ibb.co/YywLC81/msd-1.png" height=130px width=130px></img>
    <h1>My Simple Doctor</h1>
    <p>Bem-vindo ao My Simple Doctor!
        <br>Aqui você pode inserir seus sintomas e encontrar medicamentos que podem ser sua solução!</p>

    <div id="divBusca">

        <input type="text" id="txtBusca" placeholder="Insira seus sintomas aqui" />
        <button id="btnBusca" href="javascript:void(0)" onclick= "Buscar()">Buscar</button>

    </div>

</head>

<body>
    <div class="menu">
        <div>
            <h2>Menu</h2>
            <a href="#">Fitoterápicos</a><br>
            <a href="#">Homeopáticos</a><br>
            <a href="farmacias.html">Farmácias</a><br>
            <a href="#">Médicos</a>
        </div>
    </div>
    <section>
        <table>
                <img class="med" src="https://i.ibb.co/jG1MsBR/Dorflex.jpg" height=150px width=200px></img>
                <div id="description">
                    <br><p style="color:#66c2ff; text-align: left; margin: -10px 0px 5px 10px; font-weight: bold; font-size: 24px;">
                    Dorflex</p>
                    <br>Esse é um medicamento recomendado pelos usuários para aliviar a dor de cabeça.
                    Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.<br>
                    <br>Avalie o medicamento:
                </div>
                <div id="avaliacao">
                    <a href="javascript:void(0)" onclick="Avaliar(1)">
                        <img src="https://i.ibb.co/4YL84Hk/starvazia.png" id="s1" width=30px height=30px></a>

                    <a href="javascript:void(0)" onclick="Avaliar(2)">
                        <img src="https://i.ibb.co/4YL84Hk/starvazia.png" id="s2" width=30px height=30px></a>

                    <a href="javascript:void(0)" onclick="Avaliar(3)">
                        <img src="https://i.ibb.co/4YL84Hk/starvazia.png" id="s3" width=30px height=30px></a>

                    <a href="javascript:void(0)" onclick="Avaliar(4)">
                        <img src="https://i.ibb.co/4YL84Hk/starvazia.png" id="s4" width=30px height=30px></a>

                    <a href="javascript:void(0)" onclick="Avaliar(5)">
                        <img src="https://i.ibb.co/4YL84Hk/starvazia.png" id="s5" width=30px height=30px></a>
                </div>
                <br><tbody id="tbody"></tbody>
        </table>
    </section>



    <footer>

        Nosso site é um projeto sem fins lucrativos que visa indicar um tratamento positivo dos sintomas de acordo com as avaliações, porém não substitui a opinião médica.
        <br>Não nos responsabilizamos por nenhum efeito colateral. Se os sintomas persistirem, procure um médico. Desenvolvedores do site: Emanuela Lopez e Joel Ribeiro
    </footer>


</body>



</html>